*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #023047;
    color: #ffffff;
    height: 5rem;
    line-height: 5rem;
}
.chose{
    height: 165px;
    width: 165px;
    background-color: aquamarine;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: #ffffff;
    border-radius: 50%;
}
#imgg{
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 10px;
}
.chose:hover{
    background-color: black;
}
.score-board{
    display: flex;
    justify-content: center;
    gap:3rem;
    margin-top: 5rem;
}
#user-score , #comp-score{
    font-size: 3rem;
}
.msg{
    margin-top: 5rem;
   
}
#mg{
    background-color: black;
    color: #ffffff;
    display: inline;
    padding: 2rem;
    border-radius: 1rem;
}